body {
    margin: 0;
    padding: 0;
    background-color: black
}

nav {
    background-color: black;
   
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
}

nav ul li {
    display: inline;

}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

nav ul li a.active {
    background-color: #37CAEC;
    color: white;
    border-radius: 8px;
}
